
<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <ul class="footer__one__blog">
                <h1>Education</h1>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis <br> 
                        cing elit. Amet, vestibulum euismod nullam the <br>
                        elementum. Urna, posuere nisi sit gravid.</p>
                </li>
                <h1>Follow Us</h1>
                <div class="icons">
                    <div><i class="fa-brands fa-facebook-f"></i></div>
                    <div><i class="fa-brands fa-instagram"></i></div>
                    <div><i class="fa-brands fa-tiktok"></i></div>
                    
                </div>
            </ul>
            <ul class="footer__two__blog">
                <h1>Feature Links</h1>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Graduation</a></li>
                <li><a href="#">Scholarship</a></li>
                <li><a href="#">Admissions</a></li>
                <li><a href="#">International</a></li>
                <li><a href="#">Events</a></li>
            </ul>
            <ul class="footer__two__three">
                <h1>Support</h1>
                <li><a href="#">Language</a></li>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">International</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <ul class="footer__two__three">
                <h1>Contact Us</h1>
                <li><a href="#">230,Mirpur Area, Mirpur 10, <br> Dhaka,Bangladesh</a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i><a href="#">+017 4845 7269</a></a></li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i> <a href="#">info@gmail.com</a></a></li>
                <li><a href="#"><i class="fa-solid fa-globe"></i>www.yourdomain.com</a></li>
            </ul>
        </nav>
        <p style="text-align: center; font-size: 20px;">Copyright Code Run</p>
    </div>
</footer>