.about__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    padding: 128px 0;
}

.about__content div {
    width: 48%;
}

.about__content-img img {
    width: 100%;
    height: 433px;
}

.about__content-text h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #222222;
}

.about__content-text p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #555555;
    margin: 24px 0;
}
.about__content-text .btn a{
    color: #fff;
}
@media screen and (max-width:987px) {
    .about__content > div {
        width: 100%;
    }
}