.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header__logo h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
    cursor: pointer;
}

.header__menu {
    display: flex;
    gap: 45px;
    align-items: center;
}

.header__menu li a , .header__contacts a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #222222;
}
.header__menu li a:hover , .header__contacts a:hover{
    color: #086CF9;
}
.menuTooggle{
      color: #fff;
      cursor: pointer;
      display: none;
  }
  @media screen and (max-width:619px) {
      .menuTooggle{
          display: block;
          padding-left: 20px;
      }
      .header__contacts{
        display: none;
      }
      .header__menu{
          display: none;
          position: absolute;
          width: 100%;
          top: 100px;
          background-color: #fff;
          left: 0px;
          padding: 20px;
          z-index: 999;
      }
      .header__menu li{
          display: block;
      }
  }
  .icon{
      width: 25px;
      height: 25px;
      cursor: pointer;
  }
  .hamburger{
      width: 40px;
      height: 4px;
      transform: translate(-50%, -50%);
      background-color: #086CF9;
      transition: 0.5s;
      display: inline-block;
      z-index: 999;
  }
  .hamburger::after,
  .hamburger::before{
      content: '';
      width: 40px;
      height: 4px;
      background-color: #086CF9;
      transition: 0.5s;
      position: absolute;
  }
  .hamburger::after{
      top: 14px;
  }
  .hamburger::before{
      top: -14px;
  }
  .icon.active .hamburger{
      background-color: rgba(0, 0, 0, 0);
  }
  .icon.active .hamburger::before{
      top: 0;
      transform: rotate(45deg);
  }
  .icon.active .hamburger::after{
      top: 0;
      transform: rotate(135deg);
  }